/* ---------- specification ---------- */

@font-face {
  src: url('../fonts/fontello.woff');
  font-family: 'fontello';
}
    
html {
    font-size: 10px;
}
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 0;
}

/*------heder----------*/

.main{
    background-image: url('../img/BGForFirstSection.png');
    height: 1025px;
}
.header{
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    flex-direction: row;
}
.logo__name{
    color: #fff;
    margin-top: 62px;
}
.logo__img{
    margin-top: 40px;
}
.name{
    color: #fff;
    font-size: 3.4rem;
}
.menu{
    margin-top: 62px;
}
.nav-link{
    color: #fff;
    font-size: 1.4rem;
    &:hover{
        color: #c7b299;
    }
}
.firstCarousel{
    margin-top: 320px;
}
.carousel__info{
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}
.carousel__design{
    color: #fff;
    font-size: 3.6rem;
}
.carousel__portfolio{
    color: #fff;
    font-size: 5.2rem;
}
.carousel__txt{
    color: #fff;
    font-size: 1.6rem;
}
.carousel__button{
    font-size: 1.4rem;
}
.btn{
    margin-top: 50px;
    font-size: 1.4rem;
    color: #fff;
    border: solid 1px #fff;
    &:hover{
        background-color: #998675;
        border: solid 1px #998675;
    }
}
.line__one{
    bottom: -100px;
}



/*------services------------*/
.serv{
    display: flex;
    flex-direction: row;
}
.cardNumber{
    text-align: center;
    justify-content: center;
    &:hover .card__icon{
        color: #c7b299;
    }
    &:hover .card__name{
        color: #c7b299;
    }
    &:hover .hr{
        color: #c7b299;
        background-color: #c7b299;
    }
}
.card__icon{
    padding-top: 80px;
    font-size: 5rem;
}
.card__name{
    font-size: 2.2rem;
    padding-bottom: 30px;
    padding-top: 35px;
}
.card__info{
    font-size: 1.4rem;
    color: #8c8c8c;
}
.hr{
    margin: 35px auto 0;
    background-color: #f1eee9;
    width: 75px;
    height: 1px;
    color: #f1eee9;
    margin-bottom: 80px;
}


/*----------IDEAS----------*/

.ideas{
    background-color: #fbfaf8;
}
.idea_content{
    position: relative;
}
.ideas__title{
    text-align: center;
}
.ideas__name{
    font-size: 3rem;
    padding-top: 90px;
    padding-bottom: 35px;
}
.ideas__info{
    color: #8c8c8c;
    font-size: 1.6rem;
    padding-bottom: 50px;
}
.bgRight{
    background-image: url('../img/browser-right.png');
    height: 482px;
    background-repeat: no-repeat;
    background-position-y: center;
}


/*--------WORDPRESS--------*/
.wordpress{
    background-image: url('../img/BackgroundForWAXON.png');
    height: 150px;
}
.wordpress__name{
    font-size: 2.4rem;
    color: #fff;
}
.wordpress__info{
    color: #5b524f;
    font-size: 1.8rem;
}
.go__button{
    @extend .carousel__button;
    margin-top: -60px;
    padding: 20px 30px;
}
.wordpress__txt{
    padding-top: 50px;
}

/*-------PROJECT-------*/

.project__title{
    text-align: center;
    font-size: 3rem;
    padding-top: 90px;
    padding-bottom: 35px;
}
.project__info{
    font-size: 1.6rem;
    text-align: center;
    color: #8c8c8c;
}
.project__categories{
    margin: 0 5px 45px;
    color: #8c8c8c;
    padding: 10px 25px;
    border-radius: 3px;
    border: solid 1px #8c8c8c;
    &:hover{
        color: #fff;
        background: #998675;
    }
}
.nav__categories{
    text-align: center;
}
.categories__filter{
    justify-content: center;
}
.project__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project__number{
    margin-bottom: 30px;
}
.project__number:hover{
    .project__number_bg{
        box-shadow:inset 0 0 20px 185px rgba(0, 0, 0, 0.39) ;
    } 
    .project__txt::after{
        border-bottom: 15px solid #362f2d;
    }
    .project__txt{
        background-color: #362f2d;
    }
    .project__name{
        color: #fff;
    }
    .project__subname{
        color: #fff;
    }
    .project__number_icon{
        visibility: visible;
    }
}
.project__number_bg{
    background-image: url('../img/book.png');
    background-position-x: center;
    height: 237px;
    background-repeat: no-repeat;
}
.project__number_icon{
    text-decoration: none;
    font-size: 3rem;
    color: #fff;
    visibility: hidden;
    padding: 0 10px;
    &:hover{
        color: #c7b299;
        text-decoration: none;
    }
}
.project__number-icon_position{
    padding-top: 105px;
    text-align: center;
}
.project__txt{
    background: #fbfaf8;
    position: relative;
    width: 360px;
    padding: 30px 0 30px 35px;
}
.project__txt::after{
    content: ''; 
    position: absolute;
    left: 25px; top: -40px;
    border: 25px solid transparent;
    border-bottom: 15px solid #fbfaf8;
}
.project__name{
    color: #c7b299;
    font-size: 2rem;
}
.project__subname{
    color: #d1d1d1;
    font-size: 1.4rem;
}
.button_more{
    margin: 0 495px;
    padding: 20px 45px;
    background-color: #998675;
}
.more{
    font-size: 1.4rem;
}



/*-------VIDEO-------*/

.video{
    background-image: url('../img/VideoBG.png');
    height: 705px;
    margin-top: 80px;
}
.video__icon_main{
    padding-top: 210px;   
}
.video__icon{
    display: block;
    margin: 0 auto 50px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}
.video__txt{
    color: #fff;
}
.video__name{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 35px;
}

.video__info{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 40px;
}
.video__time{
    font-size: 1.4rem;
    text-align: center;
    color: #c7b299;
}






/*-----MOBILE-------------*/

.mobile__content{
    display: flex;
    flex-direction: row;
}
.mobile__img{
    height: 616px;
    margin-top: 80px;
}
.mobile__txt{
    margin-top: 200px;
}
.mobile__name{
    font-size: 3rem;
    margin-bottom: 40px;
}
.mobile__info{
    font-size: 1.6rem;
    margin-bottom: 80px;
}
.mobile__ul{
    margin-left: 80px;
    list-style-image: url('../img/arrow.png');
    font-size: 1.6rem;
}


/*-------counters-------*/

.counters{
    height: 300px;
    background-image: url('../img/Background.png');
}

.counters__content{
    display: flex;
    flex-direction: row;
}
.counters__item{
    text-align: center;
    margin-top: 70px;
}
.counters__item_icon{
    font-size: 4.8rem;
    color: #c7b299;
    margin: 0;
}
.counters__item_number{
    font-size: 4.8rem;
    color: #fff;
    margin: 0;
}
.counters__item_txt{
    font-size: 1.4rem;
    color: #c7b299;   
    margin: 0;
}
.hr_two{
    @extend .hr;
    width: 35px;
    margin-top: 30px;
    margin-bottom: 0;
}



/*-------RESENT POST------*/

.resent__post_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.resent__post_main{
    text-align: center;
}
.resent__post_name{
    font-size: 3rem;
}
.resent__post_title{
    font-size: 1.6rem;
}
.resent__card{
    background-image: url('../img/photo_post.png');
    height: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
}
.date{
    display: flex;
    flex-direction: column;
    width: 50px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}
.date_number{
    font-size: 2.4rem;
    background-color: #363636;
    color: #fff;
    border-radius: 3px;
}
.date_month{
    font-size: 1.2rem;
    background-color: #252525;
    color: #fff;
    border-radius: 3px;
}
.resent__card_txt{
    margin-left: 20px;
    margin-top: 175px;
}
.resent__card_name{
    font-size: 2rem;
    color: #555555;
    margin-bottom: 30px;
}
.resent__card_info{
    font-size: 1.4rem;
    color: #8c8c8c;
}
.resent__card_moreinfo{
    text-decoration: none;
    font-size: 1.4rem;
    color: #c7b299;
    margin-left: 20px;
    margin-top: 35px;
    &:hover{
        text-decoration: none;
        color: #c7b271;
    }
}
.resent__card:hover{
    background-color: #362f2d;
    box-shadow:0 0 0 200px rgba(0, 0, 0, 0.33) inset;
    .date_number{
        color: #fff;
        background-color: #c7b299;
    }
    .date_month{
        color: #fff;
        background-color: #a48d72;
    }
    .resent__card_name{
        color: #c7b299;
    }
    .resent__card_info{
        color: #fff;
    }
}
.resent__button{
    margin: 40px auto 80px;
}
.resent__arrow{
    border: solid 3px #d1d1d1;
    color: #d1d1d1;
    border-radius: 50%;
    padding: 5px;
    margin: 0;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background: none;
    &:hover{
        color: #c9b49c;
        border: solid 3px #c9b49c;
        background: none;
    }
}



/*---------partners-------*/

.partners{
    background-image: url('../img/bgForPartners.png');
    height: 490px;
}
.partners__content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.partners__logo_1, .partners__logo_2,
.partners__logo_3,.partners__logo_4{
    margin-top: 150px;
}

/*------footer--------*/

.footer{
    background-color: #191919;
}
.footer__waxom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
}
.footer__waxom_name{
    font-size: 3.4rem;
    color: #fff;
}
.footer__waxom_txt{
    font-size: 1.4rem;
    color: #555555;
    margin: 30px 0;
}
.footer__waxom_more{
    text-decoration: none;
    font-size: 1.4rem;
    color: #d1d1d1;
    &:hover{
        text-decoration: none;
    }
}
.footer__post{
    margin-top: 91px;
}
.footer__post_name{
    color: #fff;
    font-size: 2.4rem;
    margin-bottom: 30px;
}
.footer__post_date{
    font-size: 1.2rem;
    color: #363636;
    margin: 0;
}
.footer__post_txt{
    font-size: 1.4rem;
    color: #555555;
}
.footer__post_item{
    border-bottom: 1px solid #252525;
}
.footer__post_mesage{
    font-size: 1.4em;
    color: #555555;
    margin: 0;
}
.footer__post_timepost{
    font-size: 1.2rem;
    color: #363636;
}
.blue_txt{
    color: #00bff3;
}
.footer__post{
    justify-content: space-between;
}
.footer__post_img1{
    background-image: url('../img/footer1.png');
    height: 98px;
}
.footer__post_img2{
    background-image: url('../img/footer2.png');
    height: 98px;
}
.footer__post_img3{
    background-image: url('../img/footer3.png');
    height: 98px;
}
.footer__post_img4{
    background-image: url('../img/footer4.png');
    height: 98px;
}